---
import Layout from "../layouts/Layout.astro";
import SelectProfile from "../components/SelectProfile.svelte";
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col gap-4 justify-center items-center h-full">
		<h1 class="text-xl">Select your profile</h1>
		<SelectProfile client:only="svelte" />
	</main>
</Layout>
