---
import Layout from "../layouts/Layout.astro";
import HomePage from "./index.svelte";
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col gap-4 justify-center items-center h-full">
		<HomePage client:only="svelte" />
	</main>
</Layout>
